@import './base.css';

#app {
  max-width: 1580px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.error-message {
  color: red;
}

.ck-editor__editable {
  min-height: 300px;
}

.el-textarea__inner {
  width: 100%;
  border: none;
  resize: none;
}

.txt-right{
  text-align: right;
}

.mt-100{
  margin-top: 100px;
}

.w-95{
  width: 95%;
}

.mh-450{
  min-height: 450px;
}
